@import ribbons

$shadow: 0 20px 20px rgba(0, 0, 0, 0.4)
$content_background: url("/images/textures/crossword.png") repeat

body
  background: url(/images/backgrounds/photo-1456428199391-a3b1cb5e93ab.jpeg) no-repeat center center fixed
  background-size: cover

.services
  margin-top: 20px
