#documentation {

	padding: 40px 20px;
	font-family: serif;
	background-color: #fff;
	box-shadow: 4px 4px 20px #333;

	h1, h2 {
		border-bottom: 1px solid #aaa;
	}

	p {
		font-size: 11pt;
		line-height: 1.5rem;
	}


}
