<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" [routerLink]="['/']">
		<i class="fa fa-stethoscope"></i>
		Logica Marketplace</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" [routerLink]="['/']">
					<i class="fa fa-picture-o"></i>
					Directory
				</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="developerDropdown" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-connectdevelop"></i>
					Developer
				</a>
				<div class="dropdown-menu" aria-labelledby="developerDropdown">
					<a class="dropdown-item" [routerLink]="['/documentation']">
						<i class="fa fa-server"></i>
						Server API Documentation</a>
					<a class="dropdown-item" href="https://marketplace-documentation.logicahealth.org" target="_blank">
						<i class="fa fa-book"></i>
						HL7/Logica Marketplace Specification</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="https://github.com/preston/hsp-marketplace-server">
						<i class="fa fa-github"></i>
						Server Source Code</a>
					<a class="dropdown-item" href="https://github.com/preston/hsp-marketplace-ui">
						<i class="fa fa-window-maximize"></i>
						Web UI Source Code</a>
				</div>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto mx-2" *ngIf="!status?.identity">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="developerDropdown" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-sign-in"></i>
					Login
				</a>
				<div class="dropdown-menu" aria-labelledby="developerDropdown">
					<a *ngFor="let idp of identityProviders" class="dropdown-item"
						[href]="idp.redirect_url">{{idp.name}}</a>
				</div>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto" *ngIf="status?.identity">
			<li class="nav-item" *ngIf="status?.permissions?.everything?.manage">
				<a class="nav-link" [routerLink]="'/system'">
					<i class="fa fa-cogs"></i>
					System</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/account']">
					<i class="fa fa-user"></i>
					Account</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" (click)="logout()">
					<i class="fa fa-sign-out"></i>
					Logoff</a>
			</li>
		</ul>
		<!-- <form class="form-inline my-2 my-lg-0">
		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	  </form> -->
	</div>
</nav>
