button.btn.btn-default.pull-right("[routerLink]"="['/']")
	|  Close&nbsp;

//- include layout/navigation
toaster-container
br
.container-fluid#account

	.row
		#letter.col-md-6
			h1 Your Marketplace Account.
			//- b.lead NOT FULLY IMPLEMENTED
			h2
				b Hi {{status.identity?.user?.name}},
			hr
			ul
				li
					b First log in?
					br
					span Cool. We've used your name and email from {{status.identity?.provider?.name}} to create this account.
				li
					b Were you already logged in using a different identity?
					br
					span Then we just added this {{status.identity?.provider?.name}} identity to your existing account. You're all set.
				li
					b Accidentally create a new account?
					br
					span Please remove this {{status.identity?.provider?.name}} identity, which will log you out. Then, log in to your existing account. Once logged in, re-add your {{status.identity.provider.name} identity to your correct account.
			p We never, ever, receive your password, and can't even recover or reset it for you. You can now use any Marketplace API-compliant app of your choosing!

		#identities.col-md-6
			br
			section.well
				h4
					span.fa.fa-credit-card
					|  Your Sign-On Identities
				hr
				p You can authenticate to this account using any associated SSO identity listed here.
				span("*ngIf"="identities.length == 0")
					i None found.
				table.table.table-condensed("*ngIf"="identities.length > 0")
					thead
						tr
							th ID
							th SSO
					tbody
						tr("*ngFor"="let identity of identities")
							td
								| {{identity.email}}
								br
								i Subject: {{identity.sub}}
							td {{identityProviderFor(identity.identity_provider_id).name}}
							//- td
							//- a.text-danger("(click)"='deleteIdentity(identity)' disabled)
								span.fa.fa-trash
									//- |  Delete

				.dropdown
					button#login-menu.btn.btn-sm.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
						span.fa.fa-plus
						|  Attach (or Switch to) Another Identity
						span.caret
					ul.dropdown-menu(aria-labelledby='login-menu')
						li("*ngFor"="let idp of identityProviders")
							a("[href]"='idp.redirect_url') {{idp.name}}
			.well
				platforms("[user]"="user")

		#api.col-md-12
			p Your account was created {{status.identity?.user?.created_at}} ago. Your user ID is: {{status.identity?.user?.id}}.
			section.well
				h4 
					span.fa.fa-api
					|  Using the API?
				hr
				p Here's your current JSON Web Token (JWT). Set this header in your requests.
				code
					| Authorization: Bearer {{readJwt()}}
