<button class="btn btn-default pull-right" *ngIf="status.permissions?.everything?.manage" [routerLink]="['/system']"><span class="fa fa-cogs"></span></button>
<div class="container-fluid" id="home">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="form-group text-center">
                <h2>Find and deploy a health service<span *ngIf="status.identity">, {{status.identity.user.first_name}}.</span>
                    <div class="btn-group pull-right"><span *ngIf="status.identity"><a [routerLink]="['/account']">manage</a> or<a (click)="logout()"> log out</a></span>
                        <div class="dropdown" *ngIf="!status.identity">
                            <button class="btn btn-secondary dropdown-toggle" id="login-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-user"></i> Login
							</button>
                            <div class="dropdown-menu" aria-labelledby="login-menu">
                                <button *ngFor="let idp of identityProviders" class="dropdown-item" type="button">
									<!-- {{idp.name}} -->
									<a [href]="idp.redirect_url">{{idp.name}}</a>
								</button>
                            </div>
                        </div>
                    </div>
				</h2>
				<p *ngFor="let idp of identityProviders">
					<a [href]="idp.redirect_url">{{idp.name}}</a>
				</p>
                <div class="input-group">
                    <input class="input-lg form-control" autofocus="true" type="search" [(ngModel)]="searchQuery.text" name="search_text" (keyup)="search()" placeholder="web" /><span class="input-group-btn">
                        <button class="btn btn-lg btn-primary" type="submit" [disabled]="!validSearch()"><span class="fa fa-search"></span> Search Marketplace</button></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" *ngFor="let s of services">
            <div class="service" (click)="select(s)">
                <div class="row">
                    <div class="col-sm-6"><img class="logo" src="{{s.url}}/logo/medium" /></div>
                    <div class="col-sm-6">
                        <h2>{{s.name}}</h2>
                    </div>
                    <div class="col-sm-12">
                        <hr />
                        <p>{{s.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-default" id="close-service-button" *ngIf="service" (click)="select(null)">Close</button>
    <service *ngIf="service" [service]="service" [licenses]="licenses" [status]="status"></service>
</div>
