include layout/navigation
toaster-container


.container-fluid#home
    .row
        .col-md-8.col-md-offset-2



            .form-group.text-center
                h2
                    | Find and deploy a health service
                    span("*ngIf"="status.identity")
                        | , {{status.identity.user.name}}.
                    .btn-group.pull-right
                        span("*ngIf"="status.identity")
                            a("[routerLink]"="['/account']") manage
                            |  or
                            a("(click)"="logout()")  log out
                        .dropdown("*ngIf"="!status.identity")
                            button#login-menu.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                                span.glyphicon.glyphicon-user
                                |  Login&nbsp;
                                span.caret
                            ul.dropdown-menu(aria-labelledby='login-menu')
                                li("*ngFor"="let idp of identityProviders")
                                    a("[href]"='idp.redirect_url') {{idp.name}}
                //- .label(for="search_text")
                //- span.glyphicon.glyphicon-search
                //- | Search for deployable health services:
                .input-group
                    input.input-lg.form-control(autofocus="true" type="search" "[(ngModel)]"='searchQuery.text' name="search_text" "(keyup)"="search()" placeholder="web")
                    span.input-group-btn
                        button.btn.btn-lg.btn-primary(type='submit' "[disabled]"="!validSearch()")
                            span.glyphicon.glyphicon-search
                            |  Search Marketplace
    .row
        .col-md-4("*ngFor"="let s of services")
            .service("(click)"='select(s)')
                .row
                    .col-sm-4
                        img(src="{{s.url}}/logo/medium")
                    .col-sm-8
                        h1 {{s.name}}
                br
                p {{s.description}}


    button#close-service-button.btn.btn-default("*ngIf"='service' "(click)"="select(null)") Close
    service("*ngIf"='service' "[service]"='service' "[licenses]"='licenses')
