h4
    .pull-right
        button.btn.btn-primary("(click)"="create()")
            span.fa.fa-plus
            |  Register an infrastructure.
    span.fa.fa-cloud
    |  Your Platform Environments
    .clearfix
hr

table.table.table-striped.table-condensed
    thead
        tr
            th Name
            th Public Key
            th Actions
    tbody
        tr("*ngFor"="let p of platforms")
            td
                input.form-control(type="type" "[(ngModel)]"="p.name")
            td
                textarea.form-control(type="type" "[(ngModel)]"="p.public_key")
            td
                .btn-group
                    button.btn.btn-sm.btn-primary("(click)"="update(p)")
                        span.fa.fa-cloud-upload
                        |  Save
                    button.btn.btn-sm.btn-danger("(click)"="delete(p)")
                        span.fa.fa-trash
                        |  Delete
                br
                small
                    b Platform ID:
                    br
                    small {{p.id}}
