

.row
    .col-md-6
        h1 {{service.name}}
        p.lead {{service.description}}
    .col-md-6
        .row
            .col-sm-4(href="#", "*ngFor"="let ss of service.screenshots")
                .thumbnail
                    img(src='{{ss.url}}/small', "[alt]"='ss.caption')

div
    // Nav tabs
    ul.nav.nav-tabs(role='tablist')
        li.active(role='presentation')
            a(href='#about', aria-controls='about', role='tab', data-toggle='tab')
                span.fa.fa-home
                |  About
        li(role='presentation')
            a(href='#screenshots', aria-controls='screenshots', role='tab', data-toggle='tab')
                span.fa.fa-picture
                |  Screenshots
        li(role='presentation')
            a(href='#runtime', aria-controls='runtime', role='tab', data-toggle='tab')
                span.fa.fa-cog
                |  Runtime configuration
        li(role='presentation')
            a(href='#deployment', aria-controls='deployment', role='tab', data-toggle='tab')
                span.fa.fa-list
                |  Deployment Visualization

    // Tab panes
    .tab-content
        #about.tab-pane.active.row(role='tabpanel')
            .col-sm-8
                h2 Published Builds
                i("*ngIf"="builds.length == 0") None have been published.
                table.table.table-condensed.table-striped("*ngIf"="builds.length > 0")
                    thead
                        tr
                            th Service Version
                            th Build
                            th Container Repository
                            th Tag
                            th Validated?
                            th Published?
                            th Release Notes
                            th Actions
                    tbody
                        tr("*ngFor"="let b of builds")
                            td {{b.service_version}}
                            td {{b.version}}
                            td {{b.container_repository_url}}
                            td {{b.container_tag}}
                            td {{b.validated_at}}
                            td {{b.published_at}}
                            td {{b.release_notes}}
                            td
                                .btn-group
                                    button.btn.btn-primary(disabled="true")
                                        span.fa.fa-play
                                        |  Deploy it!

            .col-sm-4
                .row

                    img.thumbnail.col-sm-12(src='{{service.url}}/logo/large')
                    .col-sm-12
                        dl
                            dt Support
                            dd
                                a("*ngIf"="service.support_url" href="{{service.support_url}}") {{service.support_url}}
                            dt URI
                            dd {{service.uri}}
                            dt License
                            dd
                                a(href="{{licenseFor(service.license_id).url}}" target="_blank") {{licenseFor(service.license_id).name}}
                            dt Last Updated
                            dd {{service.updated_at}}


        #screenshots.tab-pane(role='tabpanel')
            .thumbnail("*ngFor"="let ss of service.screenshots")
                img(src='{{ss.url}}/medium', "[alt]"='ss.caption')
                .caption
                    h4 {{ss.caption}}
        #runtime.tab-pane(role='tabpanel')
            .lead TODO This section will contain tunable parameters than may be specific to the infrastructure environment.
        #deployment.tab-pane(role='tabpanel')
            .lead TODO This section will provide deployment artifacts and details on auto-wired dependency resolution specific to the environment reported by your locally-running orchestration agent.
