#services.container-fluid

	.row
		.col-sm-8
			h1 Catalog management
			.pull-right
				button.btn.btn-primary("(click)"="create()")
					span.fa.fa-plus
					|  Declare a service
			p.text-help Services are collections of users, and are usually used to ease the permissions management. When a role is assigned to a service, the role is automatically applied to all members.
			.clearfix
			.row
				.col-md-4("*ngFor"="let service of services")
					a("(click)"="select(service)")
						img.logo(src="{{service.url}}/logo/small")
						br
						|  {{service.name}}
			hr
			#builds("*ngIf"="service")
				h2
					.pull-right
						button.btn.btn-primary("(click)"="createBuild(service)")
							span.fa.fa-plus
							|  Register a container build of {{service.name}}
					| Available Builds
				hr
				i("*ngIf"="builds.length == 0") No builds have been listed.
				//- table.table.table-condensed.table-striped("*ngIf"="builds.length > 0")
				div("*ngFor"="let b of builds")
					.row.well
						.col-sm-6
							.form-group
								label(for="service_version") Service Version
								input.form-control(type="text", "[(value)]"='b.service_version')
							.form-group
								label(for="version") Version
								input.form-control(type="text", "[(value)]"='b.version')
							.form-group
								label(for="container_repository") Container Repository
								input.form-control(type="text", "[(value)]"='b.container_repository')
							.form-group
								label(for="container_tag") Container Tag
								input.form-control(type="text", "[(value)]"='b.container_tag')
						.col-sm-6
							.form-group
								label(for="validated_at") Validated At
								input.form-control(type="text", "[(value)]"='b.validated_at')
							.form-group
								label(for="published_at") Published At
								input.form-control(type="text", "[(value)]"='b.published_at')
							.form-group
								label(for="release_notes") Release Notes
								textarea.form-control(type="text", "[(value)]"='b.release_notes')
							.form-group
								.btn-group
									button.btn.btn-primary("(click)"="updateBuild(b)")
										span.fa.fa-cloud-upload
										|  Save Build
									button.btn.btn-danger("(click)"="deleteBuild(b)")
										span.fa.fa-trash
										|  Delete Build
			section("*ngIf"="service")
				hr
				h2 Exposed interfaces
				i Management UI not implemented.
				hr
				h2 Required interfaces
				i Management UI not implemented.
				hr
				h2 Screenshots
				i Management UI not implemented.
				hr
				h2 Runtime configurations
				i Management UI not implemented.



		.col-sm-4("*ngIf"="service")

			h2
				| {{service.name}}
				.btn-group
					button.btn.btn-sm.btn-primary("(click)"="publish(service)" "*ngIf"="!service.published_at")
						span.fa.fa-thumbs-up
						|  Publish
					button.btn.btn-sm.btn-primary("(click)"="unpublish(service)" "*ngIf"="service.published_at")
						span.fa.fa-thumbs-down
						|  Unpublish
					button.btn.btn-sm.btn-primary("(click)"="update(service)")
						span.fa.fa-cloud-upload
						|  Save
					button.btn.btn-sm.btn-danger("(click)"="delete(service)")
						span.fa.fa-trash
						|  Delete

			p("*ngIf"="service.published_at") Last published at {{service.published_at}}.
			//- p("*ngIf"="!service.published_at") Not currently published.
			hr
			form.form
				.form-group
					label(for="service_name") Name
					input.form-control(type="text" name="service_name" "[(ngModel)]"="service.name")
					small
						i ID: {{service.id}}
				.form-group
					label(for="service_support_url") Support URL
					input.form-control(type="text" name="service_support_url" "[(ngModel)]"="service.support_url")
				.form-group
					label(for="service_uri") URI
					input.form-control(type="text" name="service_uri" "[(ngModel)]"="service.uri")
				.form-group
					label(for="service_description") Description
					textarea.form-control(type="text" name="service_description" "[(ngModel)]"="service.description")
				.form-group
					label(for="service_logo") Logo
					input(type="file" name="service_logo" "(change)"="handleLogoSelect($event)")
			dl
				dt UUID
				dd {{service.id}}
				dt Created
				dd {{service.created_at}}
				dt Updated
				dd {{service.updated_at}}
			//- a.btn.btn-default.btn-small(href="{{service.url}}.json" target="_blank") JSON
