include layout/navigation

button.btn.btn-default.pull-right("[routerLink]"="['/']")
    |  Close&nbsp;

.container-fluid#system
    .row
        .col-md-12
            ul.nav.nav-tabs(role='tablist')
                li.active(role='presentation')
                    a(href='#users', aria-controls='users' role='tab', data-toggle='tab')
                        span.glyphicon.glyphicon-user
                        |  User Accounts
                li(role='presentation')
                    a(href='#groups', aria-controls='groups', role='tab', data-toggle='tab')
                        span.glyphicon.glyphicon-folder-open
                        span.fa.fa-user
                        |  Group Management
                li(role='presentation')
                    a(href='#roles', aria-controls='roles', role='tab', data-toggle='tab')
                        span.glyphicon.glyphicon-lock
                        |  Roles &amp; Permissions
                li(role='presentation')
                    a(href='#services', aria-controls='services', role='tab', data-toggle='tab')
                        span.glyphicon.glyphicon-cloud
                        |  Services
            .tab-content
                users#users.tab-pane.active(role='tabpanel')
                groups#groups.tab-pane(role='tabpanel')
                roles#roles.tab-pane(role='tabpanel')
                services#services.tab-pane(role='tabpanel' "[status]"="status")
