@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

// @import "app/stylesheets/main.scss";
// @import "app/stylesheets/theme.scss";

@import "ribbons.scss";

$shadow: 40px 40px 40px rgba(0, 0, 0, 0.9);
$content_background: url("/assets/images/textures/crossword.png") repeat;

.toast {
	  background-color: rgba(0,0,0, 0.9);
}

body {
	background: url(/assets/images/backgrounds/alexander-tsang-1644574-unsplash.jpg)
		no-repeat center center fixed;
	background-size: cover;
}

#home .product {
	margin-top: 20px;
	// padding: 100px 10px 0 10px;
	background: #eeeeee;
	box-shadow: $shadow;
	border-radius: 3px;
	// border: 1px solid rgba(0,0,0,.3);
	border: none;
	cursor: pointer;
	height: 400px;
	overflow-y: hidden;
	h2 {
		margin-left: -20px;
		// text-align: right;
		font-size: 1.5em;
		text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
	}
	.logo {
		max-height: 200px;
		max-width: 200px;
		object-fit: cover;
	}
}

#close-product-button {
	position: absolute;
	z-index: 20;
	top: 90px;
	right: 60px;
}

product {
	position: absolute;
	z-index: 10;
	top: 100px;
	right: 70px;
	// bottom: 100px
	left: 70px;
	box-shadow: $shadow;
	padding: 20px;
	background: rgba(255, 255, 255, 0.9);
	img {
		object-fit: cover;
	}
}

#account {
	background: $content_background;
	margin: 40px 20px;
}

#system {
	background: url(/images/backgrounds/benjamin-suter-1631714-unsplash.jpg)
		no-repeat center center fixed;
	background-size: cover;
	.tab-pane {
		background: rgba(255, 255, 255, 0.8);
	}
}

#users,
#groups,
#roles,
#identity_providers,
#licenses,
#interfaces,
#products {
	a:hover {
		cursor: pointer;
	}
}

#products {
	.logo {
		max-height: 100px;
		max-width: 100px;
		object-fit: cover;
	}
}
