<app-header></app-header>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>




<div class="container-fluid" id="home">
	<div class="row">
		<div class="col-md-10 offset-md-1">
			<div class="text-center">
				<br />
				<h2>Find and deploy a health service<span *ngIf="status?.identity">,
						{{status.identity.user.first_name}}.</span></h2>
				<form class="inline-form">
					<div class="input-group input-group-lg">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroup-sizing-lg">
								<i class="fa fa-search"></i>
							</span>
						</div>
						<input class="form-control form-control-lg" type="text" autofocus="true" type="search"
							[(ngModel)]="searchQuery.text" name="search_text" (keyup)="search()" />
						<!-- <span class="input-group-btn">
							<button class="form-control form-control-lg" type="submit" [disabled]="!validSearch()"><span
											class="fa fa-search"></span> Search Marketplace</button></span> -->
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="card ml-auto mr-auto my-2 product" style="width: 24rem;" *ngFor="let s of products" (click)="select(s)">
			<!-- <img class="card-img-top" src="{{s.url}}/logo/medium" alt="{{s.name}}">
			<div class="card-body">
				<h5 class="card-title">{{s.name}}</h5>
				<p class="card-text">{{s.description}}</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div> -->
			<!-- <div class="product" > -->
				<div class="row">
					<div class="col-sm-6"><img class="logo" src="{{s.url}}/logo/medium" /></div>
					<div class="col-sm-6">
						<h2>{{s.name}}</h2>
					</div>
					<div class="col-sm-12">
						<hr />
						<p>{{s.description}}</p>
					</div>
				<!-- </div> -->
			</div>
		</div>
	</div>
	<button class="button" id="close-product-button" *ngIf="product" (click)="select(null)">
		<i class="fa fa-close"></i> Close</button>
	<product *ngIf="product" [product]="product" [licenses]="licenses" [status]="status"></product>
</div>

<app-footer></app-footer>
