<button class="btn btn-default pull-right" [routerLink]="['/']"> Close&nbsp;</button>
<toaster-container></toaster-container><br />
<div class="container-fluid" id="account">
  <div class="row">
    <div class="col-md-6" id="letter">
      <h1>Your Marketplace Account.</h1>
      <h2><b>Hi {{status.identity?.user?.name}},</b></h2>
      <hr />
      <ul>
        <li><b>First log in?</b><br /><span>Cool. We've used your name and email from {{status.identity?.provider?.name}} to create this account.</span></li>
        <li><b>Were you already logged in using a different identity?</b><br /><span>Then we just added this {{status.identity?.provider?.name}} identity to your existing account. You're all set.</span></li>
        <li><b>Accidentally create a new account?</b><br /><span>Please remove this {{status.identity?.provider?.name}} identity, which will log you out. Then, log in to your existing account. Once logged in, re-add your {{status.identity.provider.name} identity to your correct account.</span></li>
      </ul>
      <p>We never, ever, receive your password, and can't even recover or reset it for you. You can now use any Marketplace API-compliant app of your choosing!</p>
    </div>
    <div class="col-md-6" id="identities"><br/>
      <section class="well">
        <h4><span class="fa fa-credit-card"></span> Your Sign-On Identities</h4>
        <hr/>
        <p>You can authenticate to this account using any associated SSO identity listed here.</p><span *ngIf="identities.length == 0"><i>None found.</i></span>
        <table class="table table-condensed" *ngIf="identities.length &gt; 0">
          <thead>
            <tr>
              <th>ID</th>
              <th>SSO</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let identity of identities">
              <td>{{identity.email}}<br /><i>Subject: {{identity.sub}}</i></td>
            <td>{{identityProviderFor(identity.identity_provider_id).name}}</td>
            </tr>
            </tbody>
            </table>
            <div class="dropdown">
              <button class="btn btn-sm btn-default dropdown-toggle" id="login-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="fa fa-plus"></span> Attach (or Switch to) Another Identity<span class="caret"></span></button>
              <ul class="dropdown-menu" aria-labelledby="login-menu">
                <li *ngFor="let idp of identityProviders"><a [href]="idp.redirect_url">{{idp.name}}</a></li>
              </ul>
            </div>
            </section>
            <div class="well">
              <platforms [user]="user"></platforms>
            </div>
    </div>
    <div class="col-md-12" id="api">
      <p>Your account was created {{status.identity?.user?.created_at}} ago. Your user ID is: {{status.identity?.user?.id}}.</p>
      <section class="well">
        <h4> <span class="fa fa-api"></span> Using the API?</h4>
        <hr />
        <p>Here's your current JSON Web Token (JWT). Set this header in your requests.</p><code>Authorization: Bearer {{readJwt()}}</code>
      </section>
    </div>
  </div>
</div>
