//- footer.footer
    hr
    p.text-center
        //- span
            a(href="#faq")
                span.icon.icon-question
                |  FAQ

        //- span
            a(href="#legal")
                span.glyphicon.glyphicon-legal
                |  Legal

        span
            a(href="https://github.com/preston/hsp-marketplace-ui")
                span.glyphicon.glyphicon-file
                |  UI Code

        span
            a(href="https://github.com/preston/hsp-marketplace-server")
                span.glyphicon.glyphicon-file
                |  Server Code

        span
            a(href="https://www.linkedin.com/in/prestonvictorlee")
                span.glyphicon.glyphicon-user
                |  Author
