<app-header></app-header>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>

<!-- <a class="btn btn-default pull-right" [routerLink]="['/']">
	<i class="fa fa-close"></i> Close&nbsp;</a> -->
<div class="container-fluid" id="system">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active" href="#users" aria-controls="users" role="tab" data-toggle="tab">
						<i class="fa fa-user"></i> Users</a></li>
				<li class="nav-item">
					<a class="nav-link" href="#groups" aria-controls="groups" role="tab" data-toggle="tab">
						<i class="fa fa-users"></i> Groups</a></li>
				<li class="nav-item">
					<a class="nav-link" href="#roles" aria-controls="roles" role="tab" data-toggle="tab"><i
							class="fa fa-lock"></i> Roles
						&amp; Permissions</a></li>
				<li class="nav-item">
					<a class="nav-link" href="#products" aria-controls="products" role="tab" data-toggle="tab"><i
							class="fa fa-cloud"></i> Product Catalog</a></li>
				<li class="nav-item">
					<a class="nav-link" href="#identity_providers" aria-controls="identity_providers" role="tab"
						data-toggle="tab"><i class="fa fa-id-card"></i>
						Single Sign-On</a></li>
				<li class="nav-item">
					<a class="nav-link" href="#licenses" aria-controls="licenses" role="tab" data-toggle="tab"><i
							class="fa fa-gavel"></i> License Types</a></li>
				<li class="nav-item">
					<a class="nav-link" href="#interfaces" aria-controls="interfaces" role="tab" data-toggle="tab"><i
							class="fa fa-cube"></i> Product Interfaces</a></li>
			</ul>
			<div class="tab-content">
				<users class="tab-pane container-fluid active" id="users"></users>
				<groups class="tab-pane container-fluid" id="groups"></groups>
				<roles class="tab-pane container-fluid" id="roles"></roles>
				<products class="tab-pane container-fluid" id="products" [status]="status"></products>
				<identity_providers class="tab-pane container-fluid" id="identity_providers"></identity_providers>
				<licenses class="tab-pane container-fluid" id="licenses"></licenses>
				<interfaces class="tab-pane container-fluid" id="interfaces"></interfaces>
			</div>
		</div>
	</div>
</div>

<app-footer></app-footer>
